@model List<ProductWithCategoryDto>
@{
    ViewData["Title"] = "Products";
}

<h1>Index</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Created Date</th>
            <th scope="col">Category Name</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <th scope="row">@product.Id</th>
                <td>@product.Name</td>
                <td>@product.CreatedDate</td>
                <td>@product.Category.Name</td>
                <td>@product.Stock</td>
                <td>@product.Price</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Products" asp-action="Update" asp-route-id="@product.Id">Update</a>
                    <a class="btn btn-danger" asp-controller="Products" asp-action="Remove" asp-route-id="@product.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Products" asp-action="Create">Add New Product</a>